[Unit]
Description=Private Minecraft Service
After=network.target

[Service]
Type=simple
User=matt
WorkingDirectory=/opt/GitHub/HomeMC/

ExecStart=/opt/GitHub/start.sh
ExecStop=/opt/GitHub/stop.sh

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=minecraft_server_1

[Install]
WantedBy=multi-user.target
